@charset "UTF-8";

*{margin: 0;}

.cabecalho{
    background-image: linear-gradient(45deg, #000000, #242222, #cabcbcb7);
    background-attachment:fixed;
    color: white;
    font-family:Verdana, Tahoma, sans-serif;
}
.menu{display: flex;
    justify-content: right;
    gap: 15px;
    padding: 10px;
   font-family: 'Courier New', Courier, monospace;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #24222223;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}
.conteudo{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}
.login input{
    padding: 10px;    
    border-radius: 10px;
    border: none;
}
.login button{
    padding: 12px;
    border-radius: 30px;
}
.cadastro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 400px;
    background-color: #24222223;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}
.contcadastro{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.contcadastro input{
    padding: 6px;
    border-radius: 10px;
    border: none;
}
.contcadastro button{
    gap: 7px;
    border-radius: 30px;
    padding: 12px;
}